    .homepage-header {
      background-color: white;
      padding: 0 clamp(0.9rem, 3vw, 8.1rem);
      height: clamp(3.75rem, 8.5vw + 0.8em, 7.5rem);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-left{

      flex: 1;
      display: flex;
      justify-content: flex-start; /* pousse à gauche */
      align-items: center;
    }   

    .logoheader {
      height: clamp(1.9rem, 7vw, 5.7rem);
      cursor: pointer;
    }
    
    .header-center{
      display: flex;
      flex: 1;
      text-align: center;
      justify-content: space-evenly;
      gap: clamp(0.6rem, 1vw, 1.8rem);
      align-items: center;
    }  

    .header-button {
      border-style: none;
      background-color: white;
      font-size: clamp(1rem, 1vw ,1.25rem);
      font-family: Roboto;
      font-weight: 400;
      color: rgb(43, 45, 66);
      width: clamp(6.25rem, 7vw, 8.2rem);
      height: 3.2rem;
      cursor: pointer;
      border-radius: 20%;
    }

    .header-button:hover {
      /* transform: scale(1.03); */
      color:rgb(230, 57, 70);
      transition: 0.1s;
    }
    .header-button:active {
      color:rgb(29, 53, 87);
      transform: scale(0.98);
      transition: 0.02s;
    }
    
    .header-right{
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: clamp(0.62rem, 1.5vw ,2.5rem);
      text-align: center;
    }   

    .social-logo {
      height: clamp(0.94rem, 2vw, 2.2rem);
      cursor: pointer;
    }
    

    .social-logo:active {
      color:rgb(94, 94, 143);
      transform: scale(0.98);
      transition: 0.1s;
    }